body {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

input, button {
    padding: 10px;
    font-size: 1rem;
}

button {
    cursor: pointer;
}

#todo-list {
    list-style-type: none;
    padding: 0;
}

#todo-list li {
    background-color: #f1f1f1;
    padding: 10px;
    margin-bottom: 5px;
}
